Django
gunicorn
whitenoise
dj-database-url
psycopg2-binary
django-allauth
djangorestframework
djangorestframework_simplejwt
google-generativeai
google-genai
scikit-learn
sentence-transformers
torch
transformers
Pillow
python-dotenv
requests